body{
    background-color: black;
}
header{
    background-color: purple;
    text-align: center;
    justify-content: center;
    padding: 1px 1px 1px 1px;
    margin-bottom: 2%;
}
.gameWindow{
    border: red;
    border-style: solid 2px;
    background-color:black;
    padding-left: 5px;
    color: white;
    border-style: solid;
    padding-bottom: 2%;
    margin-top: 0;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    width:90%;
    height:80%;
}
#app1{
    position: relative;
    left: 32%;
    z-index: 2;
}
#app2{
    position: relative;
    left: 27%;
    z-index: 2;
}
#app3{
    position: relative;
    left: 36%;
    z-index: 3;
}
#app4{
    position: relative;
    left: 36.5%;
    z-index:2;
}
.button{
    margin-top: 5%;
    background-color: white;
    color: black;
    padding: 1%;
    margin-right: 1%;
}
.button:hover{
    background-color:purple;
}

#interact{
    margin-top: 5%;
}
#dialog{
    position: relative;
}
#map{
    height: 100%;
    background-color: white;
}
a:link{
    text-decoration: none;
}